name: PR Workflow

on:
  pull_request:
    paths-ignore:
      - expressConf/*
      - conf/*
      - .github/*
      - app/testdata/*
      - .drone.yml
      - .dockerignore
      - .gitignore
      - Dockerfile.cov

jobs:
  pull_request:
    runs-on: ubuntu-latest
    steps:
      - name: Run bvt suite if PR approved
        run: |
          echo "skipping test"
