name: PR Workflow
on:
  pull_request

jobs:
  skip_individual_steps_job:
    runs-on: ubuntu-latest
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          cancel_others: 'false'
          paths_ignore: '["expressConf/*","conf/*",".github/*","app/testdata/*",".drone.yml",".dockerignore",".gitignore","Dockerfile.cov"]'
      - if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
        run: |
          echo "Run bvt pipeline"
      - if: ${{ steps.skip_check.outputs.should_skip == 'true' }}
        run: | 
          echo "skipping bvt"


