name: PR Workflow
on:
  pull_request

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: .github/file-filters.yml
      - name: Run bvt
        if: steps.changes.outputs.skip_bvt_files == 'false'
        run: |
          echo "running bvt"

      - name: skip bvt
        if: steps.filter.outputs.skip_bvt_files == 'true'
        run: |
          echo "skip bvt and mark pipeline success"
